.el-text{
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
}

.el-menu-item{
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
}

// 浅色模式
:root{
  --el-text-color-regular: #303030;
}

// 深色模式
html.dark{
  --el-text-color-regular: #fff;
}